/*body{*/
/*    background-color: #2b2b2c;*/
/*}*/

/*html {*/
/*    background-color: #2b2b2c;*/
/*}*/
/*#2b2b2c*/

.container-fluid {
    background-color: rgba(0,0,0,0.2);
}

.form-control {
        height: calc(1.5em + .5rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
    }

.container.mt-5 {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 320px;
    height: 450px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.3);
}

form.form-add{
      height: calc(1.5em + .5rem + 2px);
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
}