{% extends 'tester/base.html' %}
{% load crispy_forms_filters %}
{% block navbar %}
	{% include 'tester/navbar.html' %}
{% endblock %}

{% block content %}
    <style>
    .col-2{display:inline-block;}
</style>
<div class="container p-2">
        <div class="row col-sm-12 me-1 ms-1 rounded shadow mb-2 rounded position-relative" style="background-color: rgba(89, 89, 89, 1)">
        <div class="text-light">
    <form method="POST" >
        {% csrf_token %}
        {{ form.media.js }}
        <div class="col-2" style="width: 500px">
        {{ form.comment_master|as_crispy_field }}
        </div>
        <div class="col-2">
        {{ form.status|as_crispy_field }}
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    </div>
    </div>
</div>
{% endblock %}

{% block footer %}
	{% include 'tester/footer.html' %}
{% endblock %}