<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/all_functions.js' %}" defer></script>

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>

    {% bootstrap_messages %}
    {% bootstrap_css %}

    <title>CORA_2</title>

</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <a href="{% url 'start_page' %}">
                <button class="btn btn-outline-dark me-2" type="button" >Го бэк</button>
            </a>
        </form>
    </nav>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stripped w-100">

            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-stripped w-100">
                <form method="POST" class="form-row">
                    {% csrf_token %}
                    {{ form.media.js }}
                    <div class="col col-md-4">
                        {{ forms }}
                    </div>
                    <div id="div_id_status" class="form-group mt-4">
                        <input type="submit" class="btn mt-2 ml-2 btn-primary" value="Добавить">
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>
</body>

</html>