<!DOCTYPE html>
<html lang="en">
{% extends 'tester/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block navbar %}
	{%  include 'tester/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid1 ">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-stripped w-100 ">
                <form method="POST" class="form-row">
                    {% csrf_token %}
                    {{ form.media.js }}
                    <div class="col col-md-4">
                        {{ form }}
                    </div>
                    <div id="div_id_status" class="form-group mt-4">
                        <input type="submit" class="btn mt-2 ml-2 btn-primary" value="Добавить">
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}


