{% extends 'tester/base.html' %}
{% load crispy_forms_filters %}
{% block navbar %}
	{% include 'tester/navbar.html' %}
{% endblock %}
{% block content %}
        <style>
        .col-sm-1 {
            display: inline-block;
        }
    </style>
<div class="container p-3">
    <div class="row-3 row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                <h3 class="mb-2">Добавть район</h3>
                   <form method="POST" name="form_district">
                    {% csrf_token %}
                    <div class="col-sm-1" style="width: 160px">
                        {{ form_district.region|as_crispy_field}}
                    </div>
                    <div class="col-sm-1" style="width: 160px">
                        {{ form_district.name|as_crispy_field}}
                    </div>
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                </form>
                <h3 class="mb-2">Добавть улицу</h3>
                <form method="POST" name="form_street">
                    {% csrf_token %}
                    <div class="col-sm-1" style="width: 160px">
                        {{ form_street.district|as_crispy_field}}
                    </div>
                    <div class="col-sm-1" style="width: 200px">
                        {{ form_street.name|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container p-3">
    <div class="row-3 row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
            <h3 class="mb-2">Районы</h3>
           <div class="col-md-12">
                </div>
                {% for district in districts %}
                    <div class="col-md-auto mb-2">
                    <form method="POST" id="district_edit">
                        {% csrf_token %}
                     <div class="btn-group" role="group">
                            <span class="btn btn-primary btn-sm">{{ district }}</span>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-feather"></i></button>
                                <ul class="dropdown-menu bg-secondary">
                                    <li class="p-1"> <input id="{{ districts.id }}" type="text" class="form-control" placeholder="" aria-label="Input group example" name="district_edit" value="{{ district }}" aria-describedby="btnGroupAddon"></li>
                                    <li class="text-center">
                                        <button type="reset" class="btn btn-sm btn-primary me-2">Отмена</button>
                                        <button type="submit" class="btn btn-sm btn-success" name="district_id" value="{{ district.id }}">Готово</button>
                                    </li>
                                </ul>
                            
                               <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-trash"></i></button>
                                <ul class="dropdown-menu bg-secondary">
                                    <li class="text-center">
                                        <button type="submit" class="btn btn-sm btn-danger me-1" name="district_id" value="{{ district.id }}">Удалить</button>
                                        <button type="reset" class="btn btn-sm btn-primary">Отмена</button>
                                    </li>
                                </ul>
                      </div>
                    </form>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
</div>
    <div class="container p-3">
        <div class="row-3 row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
            <div class="text-light">
                <div class="row align-items-start rounded-pill">
                <div class="col-md-12">
                    <h3 class="mb-2">Улицы</h3>
                </div>
                {% for street in streets %}
                    <div class="col-md-auto mb-2">
                    <form method="POST" id="street_edit">
                        {% csrf_token %}
                     <div class="btn-group" role="group">
                            <span class="btn btn-secondary btn-sm">{{ street }}</span>
                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-feather"></i></button>
                                <ul class="dropdown-menu bg-secondary">
                                    <li class="p-1"> <input id="{{ street.id }}" type="text" class="form-control" placeholder="" aria-label="Input group example" name="street_edit" value="{{ street }}" aria-describedby="btnGroupAddon"></li>
                                    <li class="text-center">
                                        <button type="reset" class="btn btn-sm btn-primary me-1">Отмена</button>
                                        <button type="submit" class="btn btn-sm btn-success" name="street_id" value="{{ street.id }}">Готово</button>
                                    </li>
                                </ul>
                            
                               <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-trash"></i></button>
                                <ul class="dropdown-menu bg-secondary">
                                    
                                    <li class="text-center">
                                        <button type="submit" class="btn btn-sm btn-danger me-1" name="street_id" value="{{ street.id }}">Удалить</button>
                                        <button type="reset" class="btn btn-sm btn-primary">Отмена</button>
                                    </li>
                                </ul>
                      </div>
                    </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header rounded" style="background-color: rgba(89, 89, 89, 1)">
        <h1 class="modal-title fs-5 text-light" id="staticBackdropLabel">Новости можно посмотреть только на главной странице </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
	{% include 'tester/footer.html' %}
{% endblock %}