{% load static %}
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/base.js' %}" defer></script>

    <link rel="shortcut icon" type="image/png" href="{% static 'icon/favicon.ico' %}"/>
    <link rel="shortcut icon" href="{% static 'icon/favicon.png' %}" type="image/x-icon">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg' %}" color="#5bbad5">


    {% bootstrap_messages %}
    {% bootstrap_css %}
    <title>{% block title %}CORA_KTV{% endblock %}</title>

</head>
<body data-bs-spy="scroll" data-bs-target="#ticket" data-offset="40" style="background-color: rgba(59, 59, 59, 1)">
{% block navbar %}
    {% include 'tester/navbar.html' %}
{% endblock %}

{% block content %}
{% endblock %}


{% block footer %}
    {% include 'tester/footer.html' %}
{% endblock %}

{% bootstrap_javascript %}
</body>
</html>