{% extends 'tester/base.html' %}
{% load crispy_forms_filters %}
{% block navbar %}
    {% include 'tester/navbar.html'%}
{% endblock %}

{% block content %}
<style>
    .col-sm-2{display:inline-block;}
</style>
<div class="container p-2 position-relative">
        <div class="row col-sm-12 me-1 ms-1 rounded shadow mb-2 rounded position-relative" style="background-color: rgba(89, 89, 89, 1)">
        <div class="text-light">
                {% if perms.tester.dispatcher %}
                        {% if obj.viewed == True %}
                            <span class="position-absolute top-0 end-0 badge bg-success">Просмотрено</span>
                        {% endif %}
                {% endif %}
                <form method="POST" class="form-row">
                    <h3 class="mb-2">Редактирование</h3>
                    {{ e_form.media.js }}
                    {% csrf_token %}
                      <div class="col-sm-2">
                        {{ e_form.district|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.street|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.house|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.apartment|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.login|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.first_contact|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.second_contact|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.type|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.master|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.priority|as_crispy_field }}
                      </div>
                      <div class="col-sm-2">
                        {{ e_form.cause|as_crispy_field }}
                      </div>
                      <div class="col-sm-3"  style="width: 200px">
                        {{ e_form.status|as_crispy_field }}
                      </div>
                      <div class="col-sm-2 m-2" style="width: 320px;">
                        {{ e_form.comment_operator|as_crispy_field }}
                      </div>
                      <div class="col-sm-2" style="width: 320px;">
                        {{ e_form.comment_master|as_crispy_field }}
                      </div>
                        <div class="col-sm-2">
                        <button type="submit" class="btn btn-secondary position-absolute bottom-0 end-0">Сохронить</button>
                            </div>
                </form>
        </div>
    </div>
</div>
    <div class="container p-2">
        <div class="row col-sm-12 me-1 ms-1 rounded shadow mb-2 rounded" style="background-color: rgba(89, 89, 89, 1);">
            <div class="text-light">
                <div class="col-sm-2 p-1">
                    Статус
                </div>
                <div class=" col-sm-2">
                    Имя
                </div>
                <div class="col-sm-2">
                    Изменения
                </div>
            </div>
        </div>
    </div>
{% for change in changes_list %}
    {% for field_info in change.changed_fields %}
       <div class="container p-2">
        <div class="row col-sm-12 me-1 ms-1 rounded shadow mb-2 rounded" style="background-color: rgba(89, 89, 89, 1);">
            <div class="text-light">
                <div class="col-12">
                    <span class="badge bg-secondary">Измененное поле:</span> <span class="badge bg-primary me-4">{{ field_info.field }}</span>
                    
                    <span class="badge bg-secondary"> Старое значение:</span> <span class="badge bg-primary me-4">{{ field_info.old_value }}</span>
                    
                    <span class="badge bg-secondary"> Новое значение:</span> <span class="badge bg-primary">{{ field_info.new_value }}</span>
                </div>
            </div>
        </div>
    </div>

{% endfor %}
    {% endfor %}


{#                    <p>Version ID: {{ version.id }}, Date Created: {{ version.revision.date_created }}</p>#}
{#                        <ul>#}
{#                                {% for field_name, values in version.field_dict.items %}#}
{#                                    <li>Field: {{ field_name }}, Old Value: {{ values }}, New Value: {{ values }}</li>#}
{#                                {% endfor %}#}
{#                        </ul>#}
    
{% endblock %}