{% extends 'tester/base.html' %}

{% block navbar %}
    {% include 'tester/navbar.html'%}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stripped w-100">

            </table>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-stripped w-100">
                <form method="POST" class="form-row">
                    {% csrf_token %}
                    <div>
                    </div>
                    <div class="col col-md-4">
                        {{ e_form }}
                        {{ form.media.js }}
                    </div>
                    <div id="div_id_status" class="form-group mt-4">
                        <input type="submit" class="btn mt-2 ml-2 btn-primary" value="Сохронить">
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>
{% endblock %}