{% extends 'tester/base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container col-sm-12 p-3">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                Filters
                </div>
            </div>
        </div>
    </div>
    <div class="container col-sm-12 p-3">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                Main Chart
                </div>
            </div>
        </div>
    </div>

	<div class="container-12 p-3 text-center">
    <div class="row justify-content-center">
            <div class="col-5 shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
                    <div class="col-sm-12 text-center">
                            {% for key,value in data2.items %}<span class="badge bg-secondary">{{ key }}</span> <span class="badge bg-primary me-4">{{ value }}</span>{% endfor %}
                        </div>
                            <div>
                                <canvas id="Type"></canvas>
                            </div>
                            <script>
                                    const ctx2 = document.getElementById('Type');
                                    const plugin2 = {
                                        id: 'customCanvasBackgroundColor',
                                        beforeDraw: (chart, args, options) => {
                                            const { ctx } = chart;
                                            ctx.save();
                                            ctx.globalCompositeOperation = 'destination-over';
                                            ctx.fillStyle = options.color || 'Gray';
                                            ctx.fillRect(0, 0, chart.width, chart.height);
                                            ctx.restore();
                                        }
                                    };

                                    new Chart(ctx2, {
                                        type: 'bar',
                                        data: {
                                            labels: [{% for key,value in data2.items %} '{{ key }}', {% endfor %}],
                                            datasets: [{
                                                label: 'Типы заявок на {{ time|date:"d.m.y" }}',
                                                data: [{% for key,value in data2.items %} {{ value }}, {% endfor %}],
                                                backgroundColor: [
                                                    'rgba(54, 162, 235, 0.5)',
                                                    'rgba(255, 206, 86, 0.5)',
                                                    'rgba(255, 99, 132, 0.5)',
                                                    'rgba(75, 192, 192, 0.5)',
                                                    'rgba(153, 102, 255, 0.5)',
                                                    'rgba(75, 192, 42, 0.5)',
                                                    'rgba(153, 102, 54, 0.5)',
                                                    'rgba(255, 159, 89, 0.5)'
                                                ],
                                                borderColor: [
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(75, 192, 32, 1)',
                                                    'rgba(153, 102, 40, 1)',
                                                    'rgba(255, 159, 32, 1)'
                                                ],
                                                borderWidth: 2
                                            }]
                                        },
                                        options: {
                                            plugins: {
                                                customCanvasBackgroundColor: {
                                                    color: 'Gray',
                                                    scales: {
                                                        y: {
                                                            beginAtZero: true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        plugins: [plugin2]
                                    });
                            </script>

            </div>

            <div class="col-5 shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
               <div class="col-sm-12 text-center">
                 {% for key,value in data.items %}
                     {% if key == 'True' %}<span class="badge bg-secondary">Активно</span> <span class="badge bg-primary me-4">{{ value }}</span>
                 {% elif key == 'False' %}<span class="badge bg-secondary">Закрыто</span> <span class="badge bg-primary me-4">{{ value }}</span>
                 {% elif key == 'None' %}<span class="badge bg-secondary">В обработке</span> <span class="badge bg-primary me-4">{{ value }}</span>
                     {% endif %}
                 {% endfor %}
            </div>
                <div>
                  <canvas id="Chart1"></canvas>
                </div>
                <script>
                  const ctx = document.getElementById('Chart1');

                  const plugin = {
                      id: 'customCanvasBackgroundColor',
                      beforeDraw: (chart, args, options) => {
                        const {ctx} = chart;
                        ctx.save();
                        ctx.globalCompositeOperation = 'destination-over';
                        ctx.fillStyle = options.color || '#99ffff';
                        ctx.fillRect(0, 0, chart.width, chart.height);
                        ctx.restore();
                      }
                    };

                  new Chart(ctx, {
                    type: 'bar',
                    data: {
                      labels: [{% for key,value in data.items %}{% if key == 'True' %} 'Активно',{% elif key == 'False' %} 'Закрыто',{% elif key == 'None' %} 'В обработке',{% endif %}{% endfor %}],
                      datasets: [{
                        label: 'Активность на {{ time|date:"d.m.y" }}',
                        data: [{% for key,value in data.items %} {{ value }}, {% endfor %} ],
                       backgroundColor: [
                                'rgba(54, 162, 235, 0.5)',
                                'rgba(255, 206, 86, 0.5)',
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(153, 102, 255, 0.5)',
                                'rgba(75, 192, 42, 0.5)',
                                'rgba(153, 102, 54, 0.5)',
                                'rgba(255, 159, 89, 0.5)'
                            ],
                      borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(75, 192, 32, 1)',
                                'rgba(153, 102, 40, 1)',
                                'rgba(255, 159, 32, 1)'
                            ],
                        borderWidth: 2
                      }]
                    },
                    options: {
                        indexAxis: 'y',
                        plugins: {
                            customCanvasBackgroundColor: {
                                color: 'Gray',
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        }
                    },
                  plugins: [plugin]
                  });
                </script>
            </div>
    </div>
    </div>

	<div class="container-12 p-3 text-center">
    <div class="row justify-content-center">
            <div class="col-5 shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
                <div class="col-sm-12 text-center">
                 {% for key,value in data3.items %}
                     {% if key == 'True' %}<span class="badge bg-secondary">Договорённость</span> <span class="badge bg-primary me-4">{{ value }}</span>
                 {% elif key == 'False' %}<span class="badge bg-secondary">Не дозвон</span> <span class="badge bg-primary me-4">{{ value }}</span>
                 {% elif key == 'None' %}<span class="badge bg-secondary">Выполнено</span> <span class="badge bg-primary me-4">{{ value }}</span>
                     {% endif %}
                 {% endfor %}
                </div>
                 <div>
                  <canvas id="Chart3"></canvas>
                </div>
                <script>
                  const ctx3 = document.getElementById('Chart3');
                  const plugin3 = {
                      id: 'customCanvasBackgroundColor',
                      beforeDraw: (chart, args, options) => {
                        const {ctx} = chart;
                        ctx.save();
                        ctx.globalCompositeOperation = 'destination-over';
                        ctx.fillStyle = options.color || '#99ffff';
                        ctx.fillRect(0, 0, chart.width, chart.height);
                        ctx.restore();
                      }
                    };

                  new Chart(ctx3, {
                    type: 'bar',
                    data: {
                      labels: [{% for key,value in data3.items %}{% if key == 'True' %} 'Договорённость',{% elif key == 'False' %} 'Не дозвон',{% elif key == 'None' %} 'Выполнено',{% endif %}{% endfor %}],
                      datasets: [{
                        label: 'Причины закрытия заявок на {{ time|date:"d.m.y" }}',
                        data: [{% for key,value in data3.items %} {{ value }}, {% endfor %} ],
                       backgroundColor: [
                                'rgba(54, 162, 235, 0.5)',
                                'rgba(255, 206, 86, 0.5)',
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(153, 102, 255, 0.5)',
                                'rgba(75, 192, 42, 0.5)',
                                'rgba(153, 102, 54, 0.5)',
                                'rgba(255, 159, 89, 0.5)'
                            ],
                      borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(255, 99, 132, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(75, 192, 32, 1)',
                                'rgba(153, 102, 40, 1)',
                                'rgba(255, 159, 32, 1)'
                            ],
                        borderWidth: 2
                      }]
                    },
                    options: {
                        indexAxis: 'y',
                        plugins: {
                            customCanvasBackgroundColor: {
                                color: 'Gray',
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        }
                    },
                  plugins: [plugin3]
                  });
                </script>
            </div>
            <div class="col-5 shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
                <div class="col-sm-12 text-center">
                            {% for key,value in data4.items %}<span class="badge bg-secondary">{{ key}}</span> <span class="badge bg-primary me-4">{{ value }}</span>{% endfor %}
                        </div>
                            <div>
                                <canvas id="Priority"></canvas>
                            </div>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script>
                                    const ctx4 = document.getElementById('Priority');
                                    const plugin4 = {
                                        id: 'customCanvasBackgroundColor',
                                        beforeDraw: (chart, args, options) => {
                                            const { ctx } = chart;
                                            ctx.save();
                                            ctx.globalCompositeOperation = 'destination-over';
                                            ctx.fillStyle = options.color || 'Gray';
                                            ctx.fillRect(0, 0, chart.width, chart.height);
                                            ctx.restore();
                                        }
                                    };

                                    new Chart(ctx4, {
                                        type: 'bar',
                                        data: {
                                            labels: [{% for key,value in data4.items %} '{{ key }}', {% endfor %}],
                                            datasets: [{
                                                label: 'Приоритеты заявок на {{ time|date:"d.m.y" }}',
                                                data: [{% for key,value in data4.items %} {{ value }}, {% endfor %}],
                                                backgroundColor: [
                                                    'rgba(54, 162, 235, 0.5)',
                                                    'rgba(255, 99, 132, 0.5)',
                                                    'rgba(255, 206, 86, 0.5)',
                                                    'rgba(75, 192, 192, 0.5)',
                                                    'rgba(153, 102, 255, 0.5)',
                                                    'rgba(75, 192, 42, 0.5)',
                                                    'rgba(153, 102, 54, 0.5)',
                                                    'rgba(255, 159, 89, 0.5)'
                                                ],
                                                borderColor: [
                                                    'rgba(54, 162, 235, 1)',
                                                    'rgba(255, 99, 132, 1)',
                                                    'rgba(255, 206, 86, 1)',
                                                    'rgba(75, 192, 192, 1)',
                                                    'rgba(153, 102, 255, 1)',
                                                    'rgba(75, 192, 32, 1)',
                                                    'rgba(153, 102, 40, 1)',
                                                    'rgba(255, 159, 32, 1)'
                                                ],
                                                borderWidth: 2
                                            }]
                                        },
                                        options: {
                                            plugins: {
                                                customCanvasBackgroundColor: {
                                                    color: 'Gray',
                                                    scales: {
                                                        y: {
                                                            beginAtZero: true
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        plugins: [plugin4]
                                    });
                            </script>

            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
	{% include 'tester/footer.html' %}
{% endblock %}