{% extends 'tester/base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}
{% block content %}
<div class="container p-3 col-sm-3 position-absolute top-50 start-50 translate-middle">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
            <div class="message">
                {% if messages %}
              {% for message in messages %}
                 {% if message.tags == 'error' %}
                      <div class="alert alert-danger" role="alert">
                          {{ message }}
                      </div>
                 {% else %}
                      <div class="alert alert-{{ message.tags }}" role="alert">
                          {{ message }}
                      </div>
                 {% endif %}
                {% endfor %}
            {% endif %}
            </div>
                    <img src="{% static 'img/logo _KTV.png' %}" alt="" class="rounded mx-auto d-block" style="height: 260px; width: 300px">
                <div class="p-3"></div>
                <form method="POST">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="login" class="form-label" >Логин</label>
                    <input type="login" class="form-control" id="login" aria-describedby="text" name="login">
                    <div id="login" class="form-text">Убедитесь что логин введён корректно</div>
                  </div>
                  <div class="mb-5">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                    <div class="p-3"></div>
                  <button type="submit" class="btn btn-primary position-absolute start-0 bottom-0 end-0">Войти</button>
                </form>
                </div>
            </div>
        </div>
           <footer class="footer d-flex justify-content-center mt-auto py-3 bg text-white" style="height: 0.5rem">
                <span class="text-secondary m-auto p-2">© SPECTR IT | {{ year_now|date:"Y" }}</span>
            </footer>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
