<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}" defer></script>

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>

    <title>CORA_2</title>
</head>
<body>
<div class="logo">

</div>
<div class="box bg-img">
  <div class="content">
{#    <img src="{% static 'img/Spectr.png' %}" alt="" width="240" height="80">#}
      <img src="{% static 'img/logo _KTV.png' %}" alt="" width="220" height="180">
    <h2>Вход</h2>
      <form method="POST">
    <div class="forms">
        {% csrf_token %}

      <div class="user-input">
        <input type="text" class="login-input" placeholder="user name" name="login" id="name" required>
        <i class="fas fa-user"></i>
      </div>

      <div class="pass-input">
        <input type="password" class="login-input" placeholder="password" name="password" id="my-password" required>

        <span class="eye" onclick="myFunction()">
          <i id="hide-1" class="fas fa-eye-slash"></i>
          <i id="hide-2" class="fas fa-eye"></i>
        </span>
      </div>

    </div>

    <button type="submit" class="login-btn">Войти</button>
      </form>


    <br>

    <p class="f-pass">CORA_KTV</p>

  </div>
</div>

<script src="https://kit.fontawesome.com/c0078485ae.js" crossorigin="anonymous"></script>

</body>
</html>