{% load static %}
{% block navbar %}
<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary" style="background-color: rgba(89, 89, 89, 1);">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'start_page' %}">CORA_KTV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopToggler" aria-controls="navbarTopToggler">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTopToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if perms.tester.operator %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'add_ticket' %}">Добавить заявку</a>
        </li>
          {% endif %}
      {% if perms.tester.dispatcher %}
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'address' %}">Добавить адрес</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'shutdown' %}">Добавить отключки</a>
        </li>
        <li id="processing-item" class="nav-item position-relative">
        <a class="nav-link" aria-current="page" href="{% url 'processing' %}">В обработкеa</a>
            	<span id="unviewed-indicator" class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle"></span>
        </li>
          <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'territory' %}">Территории</a>
        </li>
          {% endif %}
       {% if perms.tester.master %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'shutdown_master' %}">Отключки</a>
        </li>
          {% endif %}
      {% if is_super %}
        <li class="nav-item">
          <a class="nav-link" href="{{ "/admin/" }}">Админ</a>
        </li>
      {% endif %}
      </ul>
         {% if user.is_authenticated %}
            <a class="nav-link link-secondary" aria-disabled="true" href="{% url 'profile' %}">{{ username }}</a>
            <a href="{% url 'logaut' %}"><button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Выйти
            </button></a>
        {% endif %}
        <button type="button" class="btn btn-secondary position-relative" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        {% for new in news %}
                 {% if new.date|date:"d.m.Y" == time|date:"d.m.Y" %}
            		<span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger rounded-circle"></span>
            {% endif %}
        {% endfor %}
          Новости
        </button>
    </div>
  </div>
</nav>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<audio id="notificationSound">
<source src="{% static 'mp3/message_alert.mp3' %}" type="audio/mp3">
</audio>    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
const processingItem = $('#unviewed-indicator');
    let alertShown = false;

    // Функция для проигрывания звука уведомления
    function playNotificationSound() {
        const notificationSound = document.getElementById('notificationSound');
        notificationSound.play();
    }

    function updateProcessingStatus() {
        $.ajax({
            url: '{% url 'start_page' %}',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                console.log(data);

                let hasUnviewedAndPermission = data.tickets.some(function (ticket) {
                    return ticket.viewed === false && data.user_permissions.includes('tester.dispatcher');
                });

                if (hasUnviewedAndPermission && !alertShown) {
                    playNotificationSound();

                    Swal.fire({
                          position: "center",
                          icon: "info",
                          title: "Есть не просмотренные заявки",
                          showConfirmButton: false,
                          timer: 1500
                    }).then((result) => {
                        if (result.isConfirmed) {
                        }
                    });

                    alertShown = true;
                }

                if (hasUnviewedAndPermission) {
                    processingItem.show();
                    console.log('work');
                } else {
                    processingItem.hide();
                    console.log('not work');
                }
            },
            error: function (error) {
                console.error(error);
            }
        });
    }

    processingItem.hide();
    setInterval(updateProcessingStatus, 2000);
</script>
{% endblock %}

