{% block navbar %}
	<div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
        <form class="container-fluid justify-content-start">
            <a href="{% url 'add_ticket' %}">
                <button class="btn btn-outline-dark me-2" type="button">Добавить заявку</button>
            </a>
            <button class="btn btn btn-outline-danger me-2" type="button">Нихуя нет</button>
            <a href="{{ "/admin/" }}">
                <button class="btn btn btn-outline-danger me-2" type="button">Администраторская</button>
            </a>
            <a href="{% url 'login' %}">
                <button class="btn btn btn-outline-warning me-2" type="button">Вход</button>
            </a>
        </form>
    </nav>
</div>
{% endblock %}

