{% extends 'tester/base.html' %}
{% block navbar %}
    {% include 'tester/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container p-3">
         <div class="row-3 row shadow p-2 me-2 ms-2 rounded m-2" style="background-color: rgba(89, 89, 89, 1);">
            <div class="text-light">
                        <form class="" method="post">
                            {% csrf_token %}
                            <div class="form-group col-sm-4 my-1">
                                <label for="InputFirstName">Имя</label>
                                <input disabled name="first_name" type="text"
                                       value="{{ user.first_name }}"
                                       class="form-control form-control-sm" placeholder="Имя">
                                <small class="form-text text-muted">Имя будет отображаться в заявках</small>
                            </div>
                            <div class="form-group col-sm-4 my-1">
                                <label for="InputLastName">Логин</label>
                                <input name="first_name" type="text" value="{{ user.last_name }}"
                                       class="form-control form-control-sm"
                                       id="InputLastName"
                                       placeholder="">
                                <small class="form-text text-muted">Товй логин</small>
                            </div>

                            <div class="form-group col-sm-4 my-1">
                                <label for="InputPassword">Новый пароль</label>
                                <input name="password" type="password" class="form-control form-control-sm"
                                       id="InputPassword"
                                       placeholder="*********">
                                <small class="form-text text-danger">Новый пароль</small>
                            </div>
                            <div class="form-group col-sm-4 my-1">
                                <label for="InputPasswordConfirm">Подтвердите пароль</label>
                                <input name="password_confirm" type="password" class="form-control form-control-sm"
                                       id="InputPasswordConfirm"
                                       placeholder="*********">
                                <small class="form-text text-muted">Подтвердите пароль, во избежание
                                    криворукости</small>
                            </div>

                            <button type="submit" class="btn btn-sm ml-2 mt-2 btn-outline-primary">Сохранить
                            </button>
                        </form>
                    </div>
            </div>
        </div>
{% endblock %}
