{% extends 'tester/base.html' %}
{% load static %}
{% block navbar %}
    {% include 'tester/navbar.html' %}
{% endblock %}
{% block content %}
    <div class="container p-3 col-sm-3">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
            <div class="message">
                {% if messages %}
              {% for message in messages %}
                 {% if message.tags == 'error' %}
                      <div class="alert alert-danger" role="alert">
                          {{ message }}
                      </div>
                 {% else %}
                      <div class="alert alert-{{ message.tags }}" role="alert">
                          {{ message }}
                      </div>
                 {% endif %}
                {% endfor %}
            {% endif %}
            </div>
            <h3 class="mb-2 text-center">Профиль</h3>
                <form method="POST">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="first_name" class="form-label" >Имя</label>
                    <input type="text" class="form-control" id="first_name" aria-describedby="text" value="{{ user.first_name }}" name="first_name">
                    <div id="login" class="form-text">Имя Пользователя</div>
                  </div>
                  <div class="mb-3">
                    <label for="login" class="form-label" >Логин</label>
                    <input type="text" disabled class="form-control" id="login" aria-describedby="text" value="{{ user }}" name="user_name">
                    <div id="login" class="form-text">Логин может изменить только админ</div>
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Новый пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                      <div id="login" class="form-text">Придумайте новый пароль для учетной записи</div>
                  </div>
                  <div class="mb-5">
                    <label for="password" class="form-label">Подтвердите пароль</label>
                    <input type="password" class="form-control" id="password" name="password_confirm">
                      <div id="login" class="form-text">Подтвердите новый пароль для учетной записи</div>
                  </div>
                    <div class="p-2"></div>
                  <button type="submit" class="btn btn-primary position-absolute start-0 bottom-0 end-0">Сохранить</button>
                </form>
                </div>
            </div>
        </div>
    </div>
 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header rounded" style="background-color: rgba(89, 89, 89, 1)">
        <h1 class="modal-title fs-5 text-light" id="staticBackdropLabel">Новости можно посмотреть только на главной странице </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

