{% load crispy_forms_filters %}
{% block shutdown_filters %}
<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary justify-content-center">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#TopToggler" aria-controls="TopToggler" style="background-color: rgba(89, 89, 89, 1)">
            <span class="text-light">Фильтры</span>
        </button>
<div class="collapse navbar-collapse" id="TopToggler">
<div class="container col-sm-5 p-3">
    <div class="row shadow bg-body-tertiary rounded position-relative" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                <form method="GET">
                    <div class="col-sm-2 me-3">
                        {{ master.form.street|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 me-3">
                        {{ master.form.house|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 me-3">
                        {{ master.form.apartment|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 me-2">
                        {{ master.form.master|as_crispy_field }}
                    </div>
                    <div class="col-sm-2 me-2">
                            <button type="submit" class="btn btn-secondary">Применить</button>
                        <div class="col-sm-1">
                        <a href="{% url 'shutdown' %}" type="reset" class="resetForms btn btn-secondary">Сброс</a>
                    </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
</nav>
{% endblock %}