{% extends 'tester/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% block navbar %}
	{% include 'tester/navbar.html' %}
{% endblock %}
{% block content %}
<style>
    .col-sm-1 {
        display: inline-block;
    }
</style>
<div class="container col-3 p-3">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded position-relative text-center" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-sm-1 me-3" name="file" style="width: 140px">
                        {{ form.file|as_crispy_field }}
                    </div>
                    <div class="col-sm-1 me-3" style="width: 130px">
                        {{ form.master|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-secondary">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
	{% include 'tester/footer.html' %}
{% endblock %}