<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
{% include 'tester/navbar.html'%}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">
    <script src="{% static 'js/start_page.js' %}" defer></script>

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>

    {% bootstrap_messages %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block navbar %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Тип</th>
                    <th>Контакт</th>
                    <th>Доп.Контакт</th>
                    <th>Приоритет</th>
                    <th>Логин</th>
                    <th>Оператор</th>
                    <th>Коментарий опера</th>
                    <th>Мастер</th>
                    <th>Коментарий мастера</th>
                    <th class="al">Статус</th>
                    <th></th>
                </tr>
                </thead>
                <tbody >
                {% for foo in obj %}
                    <tr>
                        <td>{{ foo.get_full_address }}{% if foo.apartment %} кв {{ foo.apartment| default:'' }}{% endif %}</td>
                        <td>{{ foo.type }}</td>
                        <td>{{ foo.first_contact }}</td>
                        <td>{{ foo.second_contact| default:"" }}</td>
                        <td>{{ foo.priority }}</td>
                        <td>{{ foo.login }}</td>
                        <td>{{ foo.operator.first_name}}</td>
                        <td>{{ foo.comment_operator }}</td>
                        <td>{{ foo.master| default:'Не выбран'}}</td>
                        <td>{{ foo.comment_master| default:'' }}</td>
                        {% if foo.status == True %}
                        <td>Открыта</td>
                        {% else %}
                        <td>Закрыта</td>
                        {% endif %}
                        <td>
                            {% if perms.tester.operator %}
                            <div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Действие</button>
                            {% endif %}
                            {% if perms.tester.operator or perms.tester.master %}
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Перекинуть</button>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Modal -->
        </div>

    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Действие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Типо полезная инфа
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть нахуй
                </button>
                {% for foo in obj %}
                	<a href="{% url 'edit_ticket' foo.id %}"><button type="button" class="btn btn-primary">Изменить</button></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<footer class="footer d-flex justify-content-center mt-auto py-3 bg-dark text-white" style="height: 4.0rem">
    <span class="text-secondary m-auto p-2">© SPECTR IT | 2023</span>
    <a href="https://spi.uz/"><img src="{% static 'img/Spectr.png' %}" alt="" width="240" height="40"></a>
    <span class="text-secondary m-auto p-2">CORA_2 | OWNER</span>
</footer>
</body>
</html>
