<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load bootstrap5 %}
{% include 'tester/navbar.html'%}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/start_page.css' %}">
    <script src="{% static 'js/all_functions.js' %}" defer></script>

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>

    {% bootstrap_messages %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block navbar %}
{% endblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-stripped w-100">
                <thead>
                <tr>
                    <th>Адрес</th>
                    <th>Статус</th>
                    <th>Тип</th>
                    <th>Контакт</th>
                    <th>Приоритет</th>
                    <th>Логин</th>
                    <th>Оператор</th>
                    <th>Мастер</th>
                    <th>Коментарий мастера</th>
                    <th>Коментарий опера</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in obj %}
                    <tr>
                        <td>{{ foo.get_full_address }}{% if foo.apartment %} кв {{ foo.apartment| default:'' }}{% endif %}
                        </td>
                        <td>STATUS</td>
                        <td>{{ foo.type| default:''}}</td>
                        <td>{{ foo.first_contact }}</td>
                        <td>A PRIORITY</td>
                        <td>{{ foo.login }}</td>
                        <td>{{ foo.operator.name}}</td>
                        <td>NAME <MASTER></MASTER></td>
                        <td>{{ foo.comment_master| default:'' }}</td>
                        <td>{{ foo.comment_operator }}</td>
                        <td>
                            {% if perms.tester.operator %}
                            <div>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Действие</button>
                            {% endif %}
                            {% if perms.tester.operator or perms.tester.master %}
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Перекинуть</button>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- Modal -->
        </div>

    </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Действие</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Типо полезная инфа
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть нахуй
                </button>
                {% for foo in obj %}
                	<a href="{% url 'edit_ticket' foo.id %}"><button type="button" class="btn btn-primary">Изменить</button></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

</body>
</html>
