<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% load bootstrap5 %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>

    <link rel="manifest" href="{% static 'icon/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg' %}" color="#5bbad5">


    {% bootstrap_messages %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <title>Title</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#ticket" data-offset="40" style="background-color: rgba(59, 59, 59, 1)">

<nav class="navbar navbar-dark navbar-expand-lg bg-body-tertiary" style="background-color: rgba(89, 89, 89, 1)"; >
      <div class="container-fluid">
        <a class="navbar-brand " href="#">CORA_KTV</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Добавить заявку</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Админ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
              <a class="nav-link disabled" aria-disabled="true">User</a>
            <button type="button" class="btn btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Log out
            </button>
            <button type="button" class="btn btn-secondary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              News
            </button>
        </div>
      </div>
    </nav>


 <div class="container-12 p-2">
    <div class="row-3 row-col-12 col-sm-12 me-2 ms-1 p-2 rounded shadow mb-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
    <div class="text-light">
  <div class="row row-col-12 align-items-start rounded-pill">
        <div class="row-2 col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row-2 col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
</div>
    </div>
</div>

<div id="ticket" class="container-12 overflow-auto " style="max-height: 760px">
     <div class="row-3 row shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
         <div class="text-light">
              <div class="row align-items-start rounded-pill" >
                <div class="table-responsive">
                    <table class="table table-dark table-striped scrollspy-example bg-body-tertiary rounded-2" >
                          <thead>
                            <tr>
                              <th scope="col">Адрес</th>
                              <th scope="col">Тип</th>
                              <th scope="col">Контакт</th>
                              <th scope="col">Доп контакт</th>
                              <th scope="col">Приоритет</th>
                              <th scope="col">Логин</th>
                              <th scope="col">Оператор</th>
                              <th scope="col">Комент оператора</th>
                              <th scope="col">Мастер</th>
                              <th scope="col">Комент мастера</th>
                              <th scope="col">Статус</th>
                            </tr>
                          </thead>
                          <tbody class="table-group-divider">
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                            <tr>
                              <td>Яшнабадкий Асаломм Сохил 25/18 ка 144</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                      <tr>
                              <td>Сергелинский Авиагородок 7А ка 38</td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                                 <tr>
                              <td>Миробадский Кызыл арват 1пр 58 </td>
                              <td>Ремонт</td>
                              <td>909255662</td>
                              <td>966655623</td>
                              <td>Обычный</td>
                              <td>а9989665256</td>
                              <td>Данил</td>
                              <td>Не работает прошу</td>
                              <td>Юра</td>
                              <td>Договорился на</td>
                              <td>Открыта</td>
                            </tr>
                           <tr>
                          </tbody>
                        </table>
                </div>
              </div>
         </div>
     </div>
</div>

    <footer class="footer d-flex justify-content-center mt-auto py-3 bg text-white" style="height: 0.5rem">
        <span class="text-secondary m-auto p-2">© SPECTR IT | 2023</span>
        <span class="text-secondary m-auto p-2">CORA_KTV | OWNER</span>
    </footer>


 <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(89, 89, 89, 1)">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">News</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="background-color: rgba(59, 59, 59, 1)">
        <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded g-6" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
        <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
        <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
            <div class="container-12 shadow p-1 me-1 ms-1 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
            <div class="row">
                <h1>Newsss</h1>
                <p>What is </p>
            </div>
        </div>
          <br>
      </div>
      <div class="modal-footer" style="background-color: rgba(89, 89, 89, 1)">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>