<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% load bootstrap5 %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>

    <link rel="manifest" href="{% static 'icon/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg' %}" color="#5bbad5">


    {% bootstrap_messages %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <title>Title</title>
</head>
<body data-bs-spy="scroll" data-bs-target="#ticket" data-offset="40" style="background-color: rgba(59, 59, 59, 1)">

 <div class="container-12 p-2">
    <div class="row-3 row-col-12 col-sm-12 me-2 ms-1 p-2 rounded shadow mb-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1)">
    <div class="text-light">
  <div class="row row-col-12 align-items-start rounded-pill">
        <div class="row-2 col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row-2 col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
       <div class="row col-xl-1">
            <input type="text" class="form-control" id="validationCustom01" placeholder="Логин" required style="height: 25px; width: 120px;">
        </div>
</div>
    </div>
</div>


</body>
</html>