<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
{% load bootstrap5 %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">

    <script src="/static/smart-selects/admin/js/chainedfk.js"></script>
    <script src="/static/smart-selects/admin/js/bindfields.js"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>

    <link rel="manifest" href="{% static 'icon/site.webmanifest'%}">
    <link rel="mask-icon" href="{% static 'icon/safari-pinned-tab.svg' %}" color="#5bbad5">


    {% bootstrap_messages %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}


    <title>Title</title>
</head>
<body style="background-color: rgba(59, 59, 59, 1)">
	<div class="container p-3 col-sm-3 position-absolute top-50 start-50 translate-middle">
    <div class="row row shadow p-2 me-2 ms-2 bg-body-tertiary rounded" style="background-color: rgba(89, 89, 89, 1);">
        <div class="text-light">
            <div class="row align-items-start rounded-pill">
                    <img src="{% static 'img/logo _KTV.png' %}" alt="" class="rounded mx-auto d-block" style="height: 260px; width: 300px">
                <div class="p-3"></div>
                <form method="POST">
                    {% csrf_token %}
                  <div class="mb-3">
                    <label for="login" class="form-label" >Логин</label>
                    <input type="login" class="form-control" id="login" aria-describedby="text" name="login">
                    <div id="login" class="form-text">Убедитесь что логин введён корректно</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Войти</button>
                </form>
                </div>
            </div>
        </div>
    </div>

</body>




